/* about styles start */
.about:after{
	clear:both;
	content:"";
	display:block;
}
.about{
	padding:100px 0;
	position:relative;
	font:30px/40px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color:#434343;
}
.about .btn-grey{
	line-height:30px;
	padding-top:11px;
	padding-bottom:13px;
}
.about .wrap{padding:121px 0 0;}
.about p{margin:0 0 25px;}
.about .ill-gallery{
	margin:0 0 0 134px;
	text-align:center;
	float:right;
	width:280px;
	font-size:16px;
	line-height:20px;
	position:relative;
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
	-webkit-transition-property:color, background-color, opacity;
	-moz-transition-property:color, background-color, opacity;
	-ms-transition-property:color, background-color, opacity;
	-o-transition-property:color, background-color, opacity;
	transition-property:color, background-color, opacity;
	opacity:0;
	padding:529px 0 0;
	color:#1658ff;
}
.about .ill-gallery ul{
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	height:50px;
}
.about .ill-gallery li{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1;
}
.about .ill-gallery li.active{z-index:2;}
.about .ill-gallery.orange{color:#ff4e00;}
.about .ill-gallery.purple{color:#782899;}
.about .ill-gallery.green{color:#00b74e;}
.about .ill-gallery.light-blue{color:#00bbd0;}
.about .ill-gallery:after{
	width:290px;
	height:530px;
	position:absolute;
	content:"";
	top:-10px;
	left:-5px;
	background:#1658ff url(../../images/backgrounds/bg-about-ill.png) no-repeat;
	-webkit-transition:background-color .5s ease;
	-moz-transition:background-color .5s ease;
	-ms-transition:background-color .5s ease;
	-o-transition:background-color .5s ease;
	transition:background-color .5s ease;
}
.about .ill-gallery.orange:after{background-color:#ff4e00;}
.about .ill-gallery.purple:after{background-color:#782899;}
.about .ill-gallery.green:after{background-color:#00b74e;}
.about .ill-gallery.light-blue:after{background-color:#00bbd0;}
.about .ill-gallery .number{
	display:block;
	font-size:30px;
	line-height:40px;
	letter-spacing:1px;
	padding:0 0 14px;
}
.about .btn-holder{padding-top:15px;}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx){
	.about .ill-gallery:after{
		background-image:url(../../images/backgrounds/bg-about-ill@2x.png);
		background-size:290px 530px;
	}
}
@media only screen and (max-width:1050px){
	.about{padding-top:40px;}
	.about .ill-gallery{margin-left:50px;}
}
@media only screen and (max-width:770px){
	.about .ill-gallery:after{
		background-size:190px 348px;
		width:190px;
		height:348px;
		top:-8px;
		left:50%;
		margin-left:-91px;
	}
	.about .ill-gallery{
		float:none;
		width:auto;
		margin:0;
	}
	.about .ill-gallery{padding:353px 0 0;}
	.about .ill-gallery .number{padding-bottom:7px;}
	.about .wrap{padding-top:63px;}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:770px),
	only screen and (-moz-min-device-pixel-ratio: 2) and (max-width:770px),
	only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width:770px),
	only screen and (min-device-pixel-ratio: 2) and (max-width:770px),
	only screen and (min-resolution: 192dpi) and (max-width:770px),
	only screen and (min-resolution: 2dppx) and (max-width:770px){
	.about .ill-gallery:after{background-size:190px 348px;}
}
@media only screen and (max-width:570px){
	.about{
		font-size:20px;
		line-height:30px;
		padding-bottom:60px;
	}
	.about .wrap{padding-top:35px;}
	.about p{margin-bottom:21px;}
	.about .ill-gallery:after{
		background-size:175px 320px;
		width:175px;
		height:320px;
		margin-left:-86px;
	}
	.about .ill-gallery{padding-top:320px;}
	.about .ill-gallery .number{
		font-size:20px;
		line-height:30px;
		padding-bottom:0;
	}
	.about .btn-holder{padding-top:25px;}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:570px),
	only screen and (-moz-min-device-pixel-ratio: 2) and (max-width:570px),
	only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width:570px),
	only screen and (min-device-pixel-ratio: 2) and (max-width:570px),
	only screen and (min-resolution: 192dpi) and (max-width:570px),
	only screen and (min-resolution: 2dppx) and (max-width:570px){
	.about .ill-gallery:after{background-size:175px 320px;}
}
@media only screen and (max-width:400px){
	.about-gallery .btn-grey,
	.about .btn-grey{
		display:block;
		font-size:16px;
		line-height:20px;
		padding-top:9px;
		padding-bottom:11px;
	}
}
/* about styles end */
/* about gallery styles start */
.about-gallery{
	background:#000;
	position:relative;
	height:810px;
	overflow:hidden;
	font:16px/30px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color:#505050;
	margin:0 0 5px;
}
.about-gallery h2{
	font-size:30px;
	line-height:33px;
	margin:0 0 11px;
}
.about-gallery p{margin:0 0 21px;}
.about-gallery .btn-grey{
	display:block;
	width:100%;
	padding-left:0;
	padding-right:0;
}
.about-gallery .img-holder{
	position:absolute;
	top:0;
	right:50%;
	z-index:1;
	width:50%;
	height:100%;
	overflow:hidden;
}
.about-gallery .img-holder.right{
	right:auto;
	left:50%;
}
.about-gallery .img-holder img{
	float:right;
	height:100%;
	width:auto;
}
.about-gallery .img-holder.right img{float:left;}
.about-gallery .slider{
	width:50%;
	height:100%;
	position:absolute;
	z-index:3;
	left:50%;
	background:#ffe900;
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	-webkit-transition-property:left, background-color;
	-moz-transition-property:left, background-color;
	-ms-transition-property:left, background-color;
	-o-transition-property:left, background-color;
	transition-property:left, background-color;
}
.about-gallery .slider.active{
	background-color:#4ddb68;
	left:0;
}
.about-gallery .frame{
	position:absolute;
	top:0;
	height:100%;
	max-width:282px;
	left:0;
	padding:0 0 0 118px;
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	-webkit-transition-property:left, margin-left, opacity;
	-moz-transition-property:left, margin-left, opacity;
	-ms-transition-property:left, margin-left, opacity;
	-o-transition-property:left, margin-left, opacity;
	transition-property:left, margin-left, opacity;
	z-index:1;
}
.about-gallery .active .frame{
	left:100%;
	margin:0 0 0 -518px;
}
.about-gallery .active .right-tab,
.about-gallery .left-tab{
	opacity:0;
	z-index:1;
}
.about-gallery .active .left-tab,
.about-gallery .right-tab{
	opacity:1;
	z-index:2;
}
.about-gallery .table-box{
	width:100%;
	height:100%;
	display:table;
}
.about-gallery .cell-box{
	vertical-align:middle;
	display:table-cell;
	width:100%;
}
.about-gallery .inner-box{
	padding:90px 0 0;
	position:relative;
}
.about-gallery .inner-box:after{
	content:"";
	position:absolute;
	top:-68px;
	left:50%;
	width:85px;
	height:136px;
	background:url(../../images/sprite.png) no-repeat -350px -265px;
	margin:0 0 0 -43px;
	-webkit-transition:opacity .4s ease;
	-moz-transition:opacity .4s ease;
	-ms-transition:opacity .4s ease;
	-o-transition:opacity .4s ease;
	transition:opacity .4s ease;
}
.about-gallery .active .inner-box:after{opacity:0;}
.about-gallery .active .inner-box:before{opacity:1;}
.about-gallery .inner-box:before{
	opacity:0;
	-webkit-transition:opacity .4s ease;
	-moz-transition:opacity .4s ease;
	-ms-transition:opacity .4s ease;
	-o-transition:opacity .4s ease;
	transition:opacity .4s ease;
	content:"";
	position:absolute;
	top:-68px;
	left:50%;
	width:85px;
	height:135px;
	background:url(../../images/sprite.png) no-repeat -450px -265px;
	margin:0 0 0 -43px;
}
.about-gallery .btn-holder{
	left:50%;
	bottom:30px;
	margin:0 0 0 -54px;
	position:absolute;
	width:108px;
	text-indent:-9999px;
	z-index:2;
}
.about-gallery .btn-prev,
.about-gallery .btn-next{
	float:left;
	width:54px;
	height:54px;
	overflow:hidden;
	background:#fff;
	-webkit-border-radius:27px 0 0 27px;
	border-radius:27px 0 0 27px;
	position:relative;
	-webkit-transition-property:color, background-color;
	-moz-transition-property:color, background-color;
	-ms-transition-property:color, background-color;
	-o-transition-property:color, background-color;
	transition-property:color, background-color;
}
.about-gallery .btn-next{
	-webkit-border-radius:0 27px 27px 0;
	border-radius:0 27px 27px 0;
}
.about-gallery .btn-prev:hover,
.about-gallery .btn-next:hover{background-color:#000;}
.about-gallery .btn-prev:before,
.about-gallery .btn-next:before,
.about-gallery .btn-prev:after,
.about-gallery .btn-next:after{
	content:"";
	position:absolute;
	top:15px;
	left:18px;
	width:15px;
	height:23px;
	background:url(../../images/sprite.png) no-repeat;
	opacity:1;
	-webkit-transition:opacity .25s ease;
	-moz-transition:opacity .25s ease;
	-ms-transition:opacity .25s ease;
	-o-transition:opacity .25s ease;
	transition:opacity .25s ease;
}
.about-gallery .btn-next:after{
	background-position:-17px 0;
	left:21px;
}
.about-gallery .btn-prev:before,
.about-gallery .btn-next:before{
	opacity:0;
	z-index:1;
}
.about-gallery .btn-prev:before{background-position:-34px 0;}
.about-gallery .btn-next:before{
	background-position:-51px 0;
	left:21px;
}
.about-gallery .btn-prev:hover:before,
.about-gallery .btn-next:hover:before{opacity:1;}
.about-gallery .btn-prev:hover:after,
.about-gallery .btn-next:hover:after{opacity:0;}
@media only screen and (max-width:1050px){
	.about-gallery .frame{
		max-width:282px;
		padding:0 0 0 60px;
	}
	.about-gallery .active .frame{margin-left:-402px;}
}
@media only screen and (max-width:770px){
	.about-gallery{height:954px;}
	.about-gallery .frame{
		max-width:235px;
		padding:0 0 0 75px;
	}
	.about-gallery .active .frame{margin-left:-375px;}
	.about-gallery .inner-box:before,
	.about-gallery .inner-box:after{
		top:-10px;
		width:61px;
		height:97px;
		background-position:-580px -265px;
		margin-left:-31px;
	}
	.about-gallery .inner-box:before{background-position:-660px -265px;}
}
@media only screen and (max-width:630px){
	.about-gallery .frame{padding:0 0 0 45px;}
	.about-gallery .active .frame{margin-left:-315px;}
}
@media only screen and (max-width:570px){
	.about-gallery{height:auto;}
	.about-gallery h2{
		font-size:20px;
		line-height:22px;
		margin-bottom:3px;
	}
	.about-gallery p{margin-bottom:10px;}
	.about-gallery .img-holder{
		height:320px;
		width:100%;
		top:0;
		left:0;
	}
	.about-gallery .img-holder.right{
		left:0;
		right:auto;
		top:744px;
	}
	.about-gallery .slider{
		height:auto;
		width:auto;
		top:auto;
		left:auto;
		position:relative;
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
		background:none;
	}
	.about-gallery .slider.active{
		background:none;
		left:auto;
	}
	.about-gallery .frame{
		top:auto;
		left:auto;
		position:relative;
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
		width:auto;
		max-width:none;
		margin:320px 0 0;
		padding:0;
		height:424px;
	}
	.about-gallery .active .frame{
		left:auto;
		margin:320px 0 0;
	}
	.about-gallery .frame.left-tab{
		background:#4ddb68;
		opacity:1;
	}
	.about-gallery .frame.right-tab{
		background:#ffe900;
		opacity:1;
	}
	.about-gallery .table-box{
		max-width:260px;
		margin:0 auto;
	}
	.about-gallery .inner-box{padding-top:100px;}
	.about-gallery .inner-box:before,
	.about-gallery .inner-box:after{
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
	}
	.about-gallery .inner-box:before,
	.about-gallery .active .inner-box:after,
	.about-gallery .active .inner-box:before{opacity:1;}
	.about-gallery .left-tab .inner-box:after,
	.about-gallery .right-tab .inner-box:before{display:none;}
	.about-gallery .btn-holder{display:none;}
	.about-gallery .img-holder img{
		height:410px;
		margin:-65px 0 -25px;
		position:relative;
	}
}
/* about gallery styles end */