/* map styles start */
.map{
	position:relative;
	overflow:hidden;
	margin:0 0 15px;
}
.map .placeholder{
	width:100%;
	position:relative;
	overflow:hidden;
	height:435px;
}
.map .overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:2;
	text-indent:-9999px;
}
.map .box{
	height:50%;
	overflow:hidden;
	position:absolute;
	width:50%;
	z-index:1;
}
.map .box.t-l{
	top:0;
	left:0;
}
.map .box.t-r{
	top:0;
	right:0;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-ms-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}
.map .box.b-r{
	bottom:0;
	right:0;
	-webkit-transform: scale(-1);
	-moz-transform: scale(-1);
	-ms-transform: scale(-1);
	-o-transform: scale(-1);
	transform: scale(-1);
}
.map .box.b-l{
	bottom:0;
	left:0;
	-webkit-transform: scaleY(-1);
	-moz-transform: scaleY(-1);
	-ms-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	transform: scaleY(-1);
}
.map .holder{
	width:200%;
	height:200%;
	position:relative;
	overflow:hidden;
}
.map .placeholder img{
	display:block;
	position:relative;
}
.map nav{
	font:20px/24px 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
	position:relative;
	background:#434343;
	overflow:hidden;
}
#map-nav{
	margin:0 auto;
	padding:0;
	list-style:none;
	overflow:hidden;
	max-width:964px;
	text-align:center;
}
#map-nav li:first-child{margin-left:0;}
#map-nav li{float:left;}
#map-nav a{
	float:left;
	color:#fff;
	padding:15px 24px;
	-webkit-transition-property:background-color;
	-moz-transition-property:background-color;
	-ms-transition-property:background-color;
	-o-transition-property:background-color;
	transition-property:background-color;
}
#map-nav.scaling-active a{
	padding-left:0;
	padding-right:0;
}
#map-nav.scaling-ready a{
	float:none;
	display:block;
}
#map-nav .active a,
#map-nav a:hover{background:#000;}
.map .markers{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:3;
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
	font:20px/26px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.map .markers li{
	position:absolute;
	top:50%;
	width:400px;
	left:50%;
	margin:0 0 0 -200px;
	display:none;
}
.map .markers .active{display:block;}
.map .markers .img-holder{
	margin:-43px auto 15px;
	width:83px;
	padding:13px 0 0;
	height:90px;
	position:relative;
	background:url(../../images/sprite.png) no-repeat -475px 0;
}
.map .markers img{
	display:block;
	width:56px;
	height:auto;
	margin:0 auto;
	-webkit-border-radius:50%;
	border-radius:50%;
}
.map .markers h2{
	margin:0 0 8px;
	font-size:20px;
	line-height:26px;
}
.map .markers .phone{
	display:block;
	font:20px/26px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin:0 0 4px;
}
@media only screen and (max-width:770px){
	.map .placeholder{height:396px;}
	.map nav{font:16px/24px 'Helvetica Neue', Arial, Helvetica, sans-serif;}
	#map-nav{max-width:600px;}
	#map-nav a{
		padding-left:8px;
		padding-right:8px;
	}
}
@media only screen and (max-width:570px){
	.map{display:none;}
}
/* map styles end */