/* places list styles start */
.places-list{
	display:none;
	overflow:hidden;
	padding:45px 30px 0;
	margin:0;
	list-style:none;
	font-size:16px;
	line-height:20px;
}
.places-list h2{
	font-size:20px;
	line-height:24px;
	margin:0 0 25px;
}
.places-list h3{
	font-size:16px;
	line-height:20px;
	margin:0 0 14px;
}
.places-list li:first-child{padding-top:0;}
.places-list li{
	overflow:hidden;
	padding:32px 0 0;
}
.places-list .img-holder{
	float:left;
	margin:0 14px 0 0;
	padding:10px 0 0;
	width:67px;
	height:72px;
	background:url(../../images/sprite.png) no-repeat -400px 0;
}
.places-list img{
	display:block;
	width:46px;
	height:auto;
	margin:0 auto;
}
.places-list .phone{
	display:block;
	font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
	margin:0 0 10px;
}
@media only screen and (max-width:570px){
	.places-list{display:block;}
}
/* places list styles end */