.services-info .item-info:after{
	clear:both;
	content:"";
	display:block;
}
/* services info styles start */
.services-info{padding:0 15px;}
.services-info .item-box{
	width:100%;
	max-width:100%;
}
.services-info .item-box,
.services-info .item{overflow:visible;}
.services-info .item-info{
	padding:100px 0 250px;
	max-width:864px;
	margin:0 auto;
}
.services-info .gallery .item-info{
	padding-top:0;
	padding-bottom:150px;
	max-width:none;
	float:left;
}
.services-info .gallery .box{
	max-width:864px;
	margin:0 auto;
}
.services-info .item-info .wrap{
	float:left;
	width:51%;
}
.services-info .item-info .img-holder{
	float:right;
	width:40.5%;
	margin:7px 0 0;
}
.services-info .item-info .img-holder img{
	max-width:100%;
	display:block;
	margin:0 auto;
	height:auto;
}
.services-info h2{
	margin:0 0 15px;
	font:50px/60px 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
	color:#505050;
}
.services-info p{margin:0 0 30px;}
.services-info .switcher-holder{
	text-align:center;
	margin:-150px 0 0;
	position:absolute;
	width:100%;
	left:0;
	top:100%;
	-webkit-transition:all .4s ease;
	-moz-transition:all .4s ease;
	-ms-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.services-info .switcher{
	max-width: 864px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.services-info.no-gallery .switcher-holder{margin-top:-200px;}
.services-info .item.active .switcher-holder{
	margin-top:-200px;
	top:250px;
}
.services-info .switcher li{
	display:inline-block;
	vertical-align:top;
	width:19.1%;
}
.services-info .item.active .switcher a{opacity:0.4;}
.services-info .item.active .switcher a:hover,
.services-info .item.active .switcher .active a{opacity:1;}
.services-info .switcher a{
	display:inline-block;
	cursor:pointer;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.services-info .switcher img{
	display:block;
	max-width:62px;
	height:auto;
	margin:0 auto 8px;
}
.services-info .gallery{
	padding:180px 0 0;
	display:none;
	width:100%;
	overflow:hidden;
	position:relative;
}
.services-info .gallery .slider{
	width:99999px;
	overflow:hidden;
	position:relative;
}
.services-info .gallery .item-info .wrap{
	float:right;
	padding-top:20px;
}
.services-info .gallery .item-info .img-holder{
	float:left;
	margin:0 5% 0 0;
	width:44%;
}
.services-info .pager{
	position:absolute;
	bottom:70px;
	left:0;
	margin:0;
	z-index:1;
	width:100%;
	opacity:0;
	-webkit-transition:opacity .8s ease .6s;
	-moz-transition:opacity .8s ease .6s;
	-ms-transition:opacity .8s ease .6s;
	-o-transition:opacity .8s ease .6s;
	transition:opacity .8s ease .6s;
	display:none;
}
.services-info .item.active .pager{opacity:1;}
.services-info .pager ul{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	text-align:center;
	height:12px;
}
.services-info .pager li{
	margin:0 9px;
	display:inline-block;
	vertical-align:top;
	width:12px;
	height:12px;
	overflow:hidden;
}
.services-info .pager a{
	text-align:left;
	text-indent:-9999px;
	display:block;
	overflow:hidden;
	width:12px;
	height:12px;
	-webkit-border-radius:6px;
	border-radius:6px;
	background:#fff;
	-webkit-transition-property:color, background-color;
	-moz-transition-property:color, background-color;
	-ms-transition-property:color, background-color;
	-o-transition-property:color, background-color;
	transition-property:color, background-color;
}
.services-info .pager .active a:hover,
.services-info .pager a:hover{background:#000;}
.services-info .pager .active a{background:#505050;}
.services-info .btn-holder{
	left:50%;
	margin:0 0 0 402px;
	bottom:50px;
	position:absolute;
	width:108px;
	text-indent:-9999px;
	opacity:0;
	-webkit-transition:opacity .8s ease .6s;
	-moz-transition:opacity .8s ease .6s;
	-ms-transition:opacity .8s ease .6s;
	-o-transition:opacity .8s ease .6s;
	transition:opacity .8s ease .6s;
	z-index:2;
}
.services-info .item.active .btn-holder{opacity:1;}
.services-info .btn-prev,
.services-info .btn-next{
	float:left;
	width:54px;
	height:54px;
	overflow:hidden;
	background:#fff;
	-webkit-border-radius:27px 0 0 27px;
	border-radius:27px 0 0 27px;
	position:relative;
	-webkit-transition-property:color, background-color;
	-moz-transition-property:color, background-color;
	-ms-transition-property:color, background-color;
	-o-transition-property:color, background-color;
	transition-property:color, background-color;
	display:none;
}
.services-info .btn-next{
	-webkit-border-radius:0 27px 27px 0;
	border-radius:0 27px 27px 0;
}
.services-info .btn-prev:hover,
.services-info .btn-next:hover{background-color:#000;}
.services-info .btn-prev:before,
.services-info .btn-next:before,
.services-info .btn-prev:after,
.services-info .btn-next:after{
	content:"";
	position:absolute;
	top:15px;
	left:18px;
	width:15px;
	height:23px;
	background:url(../../images/sprite.png) no-repeat;
	opacity:1;
	-webkit-transition:opacity .25s ease;
	-moz-transition:opacity .25s ease;
	-ms-transition:opacity .25s ease;
	-o-transition:opacity .25s ease;
	transition:opacity .25s ease;
}
.services-info .btn-next:after{
	background-position:-17px 0;
	left:21px;
}
.services-info .btn-prev:before,
.services-info .btn-next:before{
	opacity:0;
	z-index:1;
}
.services-info .btn-prev:before{background-position:-34px 0;}
.services-info .btn-next:before{
	background-position:-51px 0;
	left:21px;
}
.services-info .btn-prev:hover:before,
.services-info .btn-next:hover:before{opacity:1;}
.services-info .btn-prev:hover:after,
.services-info .btn-next:hover:after{opacity:0;}
.services-info .gallery .item-info .l-hide{display:none;}
/* services info styles end */
@media only screen and (max-width:1050px){
	.services-info .item-box,
	.services-info .item-holder{display:block;}
	.services-info .item-box,
	.services-info .item{overflow:hidden;}
	.services-info .btn-holder{
		right:0;
		left:auto;
		margin:0;
	}
}
@media only screen and (max-width:760px){
	.services-info{padding:0 30px;}
	.services-info .gallery .box,
	.services-info .item-info{max-width:600px;}
	.services-info .gallery .item-info{max-width:none;}
	.services-info .switcher-holder{
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
		position:relative;
		margin:0 -10px 60px;
		top:auto;
		left:auto;
		width:auto;
	}
	.services-info.no-gallery .item.active .switcher-holder,
	.services-info.no-gallery .switcher-holder{margin:0 -10px 60px;}
	.services-info .item-info .img-holder{
		float:none;
		width:58%;
		margin:0 auto 55px;
	}
	.services-info .gallery .item-info .img-holder{
		float:none;
		width:64%;
		margin:0 auto 22px;
	}
	.services-info .item-info .img-holder img{width:100%;}
	.services-info .gallery .item-info .wrap,
	.services-info .item-info .wrap{
		width:auto;
		float:none;
		padding:0;
	}
	.services-info .item.active .switcher-holder{top:auto;}
	.services-info .gallery{
		display:block;
		padding:0;
	}
	.services-info .gallery .item-info{padding-bottom:163px;}
	.services-info .item-info{padding:62px 0 13px;}
	.services-info .pager{
		opacity:1;
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
		bottom:231px;
		left:-9px;
	}
	.services-info .btn-holder{
		opacity:1;
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
		bottom:211px;
	}
	.services-info .pager ul{text-align:left;}
}
@media only screen and (max-width:560px){
	.services-info .item-info .img-holder img{max-width:240px;}
	.services-info .gallery .item-info{padding-bottom:60px;}
	.services-info .item-box,
	.services-info .item{overflow:visible;}
	.services-info.no-gallery .item.active .switcher-holder,
	.services-info.no-gallery .switcher-holder,
	.services-info .switcher-holder{
		margin:0 -30px;
		top:auto;
		text-align:left;
		font-size:20px;
		font-family:'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
		padding:0 0 5px;
	}
	.services-info .switcher li:first-child{border-top:none;}
	.services-info .switcher li{
		width:auto;
		display:block;
		background:#fff;
		border-top:1px solid #e3e7ea;
	}
	.services-info .switcher a{
		padding:22px 30px;
		display:block;
	}
	.services-info .switcher img{
		display:inline-block;
		margin:0 15px 0 0;
		vertical-align:middle;
		max-height:56px;
		width:auto;
	}
	.services-info .switcher figcaption{
		display:inline-block;
		vertical-align:middle;
	}
	.services-info .btn-holder{display:none;}
	.services-info .pager{display:none;}
	.services-info h2{
		font-size:34px;
		text-align:center;
	}
	.services-info p{margin:0;}
	.services-info .gallery p{margin:0 0 30px;}
	.services-info .item-info .wrap{text-align:justify;}
	.services-info .gallery .slider{
		width:100%;
		padding-bottom:50px;
	}
	.services-info .item-info .img-holder{
		margin-bottom:25px;
		width:auto;
	}
	.services-info .gallery .item-info .img-holder{width:auto;}
	.services-info .item-info{padding-bottom:15px;}
	.services-info .gallery .item-info{padding-bottom:1px;}
	.services-info .gallery .item-info .btn-grey{display:none;}
	.services-info .gallery .item-info:last-child .btn-grey{display:inline-block;}
	.services-info .gallery .item-info .hide{display:none;}
	.services-info .gallery .item-info .l-hide{display:inline;}
}
@media only screen and (max-width:400px){
	.services-info .gallery .item-info .btn-grey{
		padding-right:0;
		padding-left:0;
		width:100%;
	}
}