<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h3>Новый заявка на сайт <%= @form.title %></h3>
<p>
  Заполнена новая заявка на сайт<%= @form.title %>
</p>
<p>
  Описание: <%= @form.text %>
</p>
<p><%#= link_to 'Посмотреть заявку, "http://brief.rocketmind.ru/forms' %></p>
</body>
</html>