<%= form_for @form do |f| %>
    <% if @form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@form.errors.count, "error") %> prohibited
            this form from being saved:</h2>
          <ul>
            <% @form.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%=f.label :service %><br>
      <%=f.select(:service, options_for_select([['Бизнес', 'business'], ['Недвижимость', 'real estate'], ['Кино', 'cinema'], ['Авто', 'cars']])) %>
    </p>

    <p>
      <%=f.label :kind %><br>
      <%=f.select(:kind, options_for_select([['Корпоративный сайт', 'Corporate website'], ['Интернет-магазин', 'Online shop'], ['Промо-сайт продукта', 'Promo-site product'], ['Сайт-визитка', 'Online Business Card']])) %>
    </p>

    <p>
      <%= f.label :style %>
      <%= f.check_box :style %> Наличие фирменного стиля
    </p>

    <%= f.radio_button(:content, "photo") %>
    <%= f.label(:content, "Фото") %>
    <%= f.radio_button(:content, "video") %>
    <%= f.label(:content, "Видео") %>
    <%= f.radio_button(:content, "audio") %>
    <%= f.label(:content, "Аудио") %>

    <p>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </p>

    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email %>
    </p>

    <p>
      <%= f.label :text %><br>
      <%= f.text_area :text %>
    </p>

    <p>
      <%= f.submit %>
      <%= link_to 'Отмена', @form %>
    </p>
<% end %>