<h1>Список заявок</h1>

<table>
  <tr>
    <th>Компания</th>
    <th>Дата</th>
  </tr>

  <% @forms.each do |form| %>
      <tr>
        <td><%= form.title %></td>
        <td><%= link_to 'Show', form %></td>
        <td><%= link_to 'Edit', edit_form_path(form) %></td>
        <td><%= link_to 'Destroy', form_path(form),
                        method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
</table>

<p><%= link_to "Новая заявка", new_form_path %></p>
