<h1>Заявка на создание сайта № <%= @form.id %></h1>
<h3>Дата заполнения: <%= @form.created_at.strftime("%d %b. %Y %H:%M") %></h3>

<p>
  <strong>Название компании:</strong>
  <%= @form.title %>
</p>

<p>
  <strong>Cфера деятельности:</strong>
  <%= @form.service %>
</p>

<p>
  <strong>Тип web-проекта:</strong>
  <%= @form.kind %>
</p>

<p>

  <strong>Наличие фирменного стиля:</strong>
  <%= @form.style %>
</p>

<p>
    <strong>Тип контента:</strong>
    <%= @form.content %>
</p>

<% #if @form.data_file.size>0 %>
    <!--<p><a href="/upload/<%#= data_file.path %>"><%#= data_file.path %></a></p>-->
<% #end %>

<p>
    <strong>Изображение:</strong>
    <a href="<%=@form.image.url %>"><%=image_tag @form.image.url(:medium) %></a>
</a>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Описание проекта:</strong>
  <%= @form.text %>
</p>

<h2>Comments</h2>
<%= render @form.comments %>


<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', forms_path %>
| <%= link_to 'Edit', edit_form_path(@form) %>
