/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* font-face styles starts */
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneueltcom-roman-webfont.eot');
    src: url('../fonts/helveticaneueltcom-roman-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneueltcom-roman-webfont.woff') format('woff'),
    url('../fonts/helveticaneueltcom-roman-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneueltcom-roman-webfont.svg#helvetica_neue_lt_com55_roman') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../fonts/helveticaneueltstd-bd-webfont.eot');
    src: url('../fonts/helveticaneueltstd-bd-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helveticaneueltstd-bd-webfont.woff') format('woff'),
    url('../fonts/helveticaneueltstd-bd-webfont.ttf') format('truetype'),
    url('../fonts/helveticaneueltstd-bd-webfont.svg#helvetica_neue_lt_std75_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* font-face styles ends */
/* reset styles start */
header, footer, section, article, hgroup, nav, figure{display:block;}
html, body{height:100%;}
body{
    background:#e3e7ea;
    font:16px/30px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color:#505050;
    -webkit-text-size-adjust:100%;
    margin:0;
    min-width:320px;
}
a{
    text-decoration:none;
    color:#505050;
    -webkit-transition:color .25s ease;
    -moz-transition:color .25s ease;
    -ms-transition:color .25s ease;
    -o-transition:color .25s ease;
    transition:color .25s ease;
}
a:hover{color:#000;}
q{quotes:none;}
q:before, q:after{content:"";}
img{border:none;}
form, fieldset{
    margin:0;
    padding:0;
    border-style:none;
}
audio ,canvas, video{display:inline-block;}
form, fieldset{
    margin:0;
    padding:0;
    border-style:none;
}
input[type="text"],input[type="email"],input[type="password"],textarea{
    font:16px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    vertical-align:middle;
    color:#9ea3a7;
    -webkit-appearance:none;
    -webkit-border-radius:0;
}
input[type="submit"]{
    -webkit-appearance:none;
    -webkit-border-radius:0;
}
button::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner{
    padding:0;
    border:0;
}
figure{
    margin:0;
    padding:0;
}
h1, h2, h3, h4, h5, h6, strong, b{
    font-weight:normal;
    font-family:'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
}
/* reset styles end */
#wrapper{
    overflow:hidden;
    height:100%;
    position:relative;
}
.no-gallery #wrapper{height:auto;}
.wrap{overflow:hidden;}
.logo{
    margin:-5px 0 -2px;
    text-indent:-9999px;
    overflow:hidden;
    width:199px;
    height:27px;
    float:left;
    position:relative;
    z-index:20;
}
.logo:before,
.logo:after{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(../images/sprite.png) no-repeat -68px 0;
}
.logo:before{
    background-position:-68px -58px;
    opacity:0;
    z-index:1;
    -webkit-transition:opacity .25s ease;
    -moz-transition:opacity .25s ease;
    -ms-transition:opacity .25s ease;
    -o-transition:opacity .25s ease;
    transition:opacity .25s ease;
}
#header.opened .logo:after,
#header.active .logo:after{background-position:-68px -29px;}
#header.white .logo:before,
#header.active.white .logo:before,
#header:hover .logo:before,
#header.active:hover .logo:before{opacity:1;}
.logo a{
    position:relative;
    z-index:2;
    display:block;
    height:100%;
}
.container{
    max-width:964px;
    margin:0 auto;
    width:100%;
    position:relative;
}
.feedback .box.alt:after,
.feedback fieldset:after,
.top-bar .col:after,
.container:after{
    clear:both;
    content:"";
    display:block;
}
.btn-grey{
    display:inline-block;
    font:20px/52px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    min-width:200px;
    text-align:center;
    padding:0 20px 2px;
    color:#fff;
    background:#505050;
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    -ransition: background-color .25s ease;
}
.btn-grey:hover{
    background:#000;
    color:#fff;
}
/* header styles start */
#header{
    position:fixed;
    min-width:320px;
    top:0;
    left:0;
    width:100%;
    z-index:10;
    padding:25px 0;
    -webkit-transition:background-color .25s ease, top .25s ease;
    -moz-transition:background-color .25s ease, top .25s ease;
    -ms-transition:background-color .25s ease, top .25s ease;
    -o-transition:background-color .25s ease, top .25s ease;
    transition:background-color .25s ease, top .25s ease;
    cursor:pointer;
}
#header.hide{top:-70px;}
#header.white,
#header:hover,
#header.opened,
#header.active{background:#fff;}
#header .container{
    opacity:0;
    -webkit-transition:opacity .8s ease .6s;
    -moz-transition:opacity .8s ease .6s;
    -ms-transition:opacity .8s ease .6s;
    -o-transition:opacity .8s ease .6s;
    transition:opacity .8s ease .6s;
}
.loaded #header .container{opacity:1;}
#header .opener{
    width:25px;
    height:21px;
    float:right;
    text-indent:-9999px;
    overflow:hidden;
    position:relative;
    z-index:20;
}
#header .opener:before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    -webkit-transition:opacity .25s linear;
    -moz-transition:opacity .25s linear;
    -ms-transition:opacity .25s linear;
    -o-transition:opacity .25s linear;
    transition:opacity .25s linear;
    background:url(../images/sprite.png) no-repeat -269px 0;
}
#header.active .opener:before{background-position:-269px -22px;}
#header.opened.active .opener,
#header.opened .opener{
    margin:-1px auto 0;
    height:21px;
    width:21px;
}
#header.opened.active .opener:before,
#header.opened .opener:before{background-position:-300px 0;}
#header .opener:after,
#header.opened .opener:after,
#header.active .opener:after{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    -webkit-transition:opacity .25s linear;
    -moz-transition:opacity .25s linear;
    -ms-transition:opacity .25s linear;
    -o-transition:opacity .25s linear;
    transition:opacity .25s linear;
    background:url(../images/sprite.png) no-repeat -269px -44px;
}
#header.opened.active .opener:after,
#header.opened .opener:after{
    background-position:-325px 0;
    opacity:0;
}
#header.white .opener:before,
#header:hover .opener:before,
#header.opened.active .opener:hover:before,
#header.opened .opener:hover:before,
#header.active:hover .opener:before{opacity:0;}
#header.white.active .opener:before,
#header.white .opener:after,
#header:hover .opener:after,
#header.opened.active .opener:hover:after,
#header.opened .opener:hover:after,
#header.active:hover .opener:after{opacity:1;}
.top-bar{
    position:fixed;
    width:100%;
    min-width:320px;
    background:#fff;
    padding:0 200px 0 0;
    left:0;
    top:-100%;
    opacity:0;
    z-index:-20;
}
.top-bar.scroll{overflow:auto;}
.top-bar .container{
    padding-top:30px;
    padding-bottom:80px;
    position:relative;
}
.top-bar .title{
    color:#9ea3a7;
    display:block;
    font:16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    margin:0 0 25px;
}
.top-bar .subscribe-form,
.top-bar .form,
.top-bar .cols{display:none;}
.top-bar.subscribe-show .subscribe-form,
.top-bar.feedback-show .form,
.top-bar.cols-show .cols{display:block;}
.feedback{
    color:#9ea3a7;
    font:16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding:29px 0 0;
    max-width:840px;
    margin:0 auto;
}
.feedback header{
    padding:60px 0 42px;
    position:relative;
    color:#505050;
    text-align:center;
}
.feedback header:after{
    content:"";
    position:absolute;
    top:0;
    left:50%;
    margin:0 0 0 -24px;
    width:48px;
    height:48px;
    background:url(../images/sprite.png) no-repeat -324px -532px;
}
.feedback.subscribe header:after{
    background-position:-224px -532px;
    width:64px;
    height:46px;
    margin-left:-32px;
}
.feedback h2{
    color:#434343;
    font:30px/40px 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
    margin:0 0 8px;
}
.feedback .box{
    width:260px;
    margin:0 30px 0 0;
    padding:0 0 18px;
    float:left;
    position:relative;
}
.feedback.subscribe .box,
.feedback .box.alt{
    float:none;
    width:auto;
}
.feedback.subscribe .box{margin-right:0;}
.feedback label{
    display:inline-block;
    vertical-align:top;
    margin:0 0 16px;
}
.feedback fieldset{
    margin:0 -30px 0 0;
    position:relative;
}
.feedback.subscribe fieldset{
    max-width:270px;
    margin:0 auto;
}
.feedback input[type="text"],
.feedback input[type="email"],
.feedback input[type="password"]{
    margin:0 0 20px;
    padding:16px 10px;
    border:1px solid #c8c8c8;
    background:#fff;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.feedback .error input[type="text"],
.feedback .error input[type="email"],
.feedback .error input[type="password"]{
    border-color:#ee5035;
    padding-right:40px;
}
.feedback.subscribe input[type="text"],
.feedback.subscribe input[type="email"],
.feedback.subscribe input[type="password"]{margin-bottom:8px;}
.feedback textarea{
    margin:0 0 30px;
    padding:16px 10px;
    border:1px solid #c8c8c8;
    background:#fff;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    height:120px;
    resize:none;
    overflow:auto;
}
.feedback .error textarea{border-color:#ee5035;}
.feedback .status{
    position:absolute;
    background:url(../images/sprite.png) no-repeat -306px -33px;
    width:10px;
    height:10px;
    text-indent:-99999px;
    overflow:hidden;
    right:21px;
    top:58px;
    display:none;
}
.feedback .error .status{display:block;}
.feedback .note{
    color:transparent;
    font-style:normal;
    display:block;
    line-height:20px;
}
.feedback .error .note{color:#ee5035;}
.feedback .select{position:relative;}
.feedback select{
    width:100%;
    font:16px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color:#9ea3a7;
}
.feedback input[type="submit"]{
    float:right;
    width:164px;
    height:54px;
    background:#505050;
    cursor:pointer;
    color:#fff;
    font:20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    border:none;
    -webkit-transition:background-color .25s ease;
    -moz-transition:background-color .25s ease;
    -ms-transition:background-color .25s ease;
    -o-transition:background-color .25s ease;
    transition:background-color .25s ease;
}
.feedback input[type="submit"]:hover{background:#000;}
.feedback.subscribe input[type="submit"]{
    width:100%;
    display:block;
    float:none;
}
.outtaHere{
    position:absolute !important;
    left:-9999px !important;
}
.outtaHere-touch{
    position:absolute !important;
    top:0 !important;
    left:0 !important;
    height:100%;
    width:100%;
    z-index:1;
    opacity:0;
}
/* custom select styles start */
.selectArea.upend-select{margin-top:100px;}
.selectArea{
    width:100% !important;
    margin:0;
    padding:16px 10px;
    border:1px solid #c8c8c8;
    background:#fff;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:#9ea3a7;
    font:16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position:relative;
}
.selectArea.selectAreaActive{border-bottom-color:#fff;}
.selectArea .center{display:block;}
.selectButton{
    position:absolute;
    top:0;
    left:0;
    text-indent:-9999px;
    overflow:hidden;
    width:100%;
    height:100%;
    cursor:pointer;
    z-index:1;
}
.selectButton .ico{
    position:absolute;
    top:50%;
    right:20px;
    background:url(../images/sprite.png) no-repeat -306px -53px;
    width:12px;
    height:10px;
    overflow:hidden;
    margin:-5px 0 0;
}
.selectOptions{
    border:1px solid #c8c8c8;
    -webkit-border-radius:0 0 2px 2px;
    border-radius:0 0 2px 2px;
    border-top-color:#fff;
    z-index:2000;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:-2px 0 0;
}
.selectOptions .select-list{
    position:relative;
    width:100%;
}
.selectOptions ul{
    margin:0;
    padding:0;
    list-style:none;
    background:#fff;
    font:16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.selectOptions ul li{vertical-align:top;}
.selectOptions ul li a{
    color:#505050;
    display:block;
    padding:3px 10px;
    cursor:pointer;
    text-decoration:none;
    overflow:hidden;
}
.selectOptions ul li a:hover{background:#ccc;}
/* custom select styles ends */
#nav{
    float:left;
    max-width:50%;
    font:30px/50px 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
}
#nav .title{margin-bottom:10px;}
#nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
.top-bar .col{
    float:right;
    width:46.63%;
}
.top-bar figure{
    position:relative;
    float:left;
    text-transform:none;
}
.top-bar figcaption{
    background:#222;
    height:100%;
    left:0;
    opacity:0;
    position:absolute;
    text-align:center;
    top:0;
    -webkit-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    -ms-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    transition:opacity .3s ease;
    width:100%;
    z-index:1;
}
.top-bar figure:hover figcaption{opacity:1;}
.top-bar figcaption:after{
    position:absolute;
    top:50%;
    height:1px;
    left:11.718%;
    right:11.718%;
    background:#434343;
    content:"";
}
.top-bar figcaption .name{
    position:absolute;
    bottom:50%;
    left:15%;
    right:15%;
    padding:0 0 20px;
    font:20px/25px 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
    color:#fff;
    z-index:2;
}
.top-bar figcaption ul{
    padding:12px 0 0;
    margin:0;
    list-style:none;
    position:absolute;
    top:50%;
    left:15%;
    right:15%;
    font:16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    z-index:2;
}
.top-bar figure li{padding:5px 0;}
.top-bar figure a:hover{color:#fff;}
.top-bar img{display:block;}
/* header styles end */
/* main styles start */
#main{
    height:100%;
    min-height:400px;
    position:relative;
    z-index:1;
    overflow:hidden;
    width:100%;
}
.inner-page #main{
    height:auto;
    min-height:0;
    padding:70px 0 0;
}
.main-slider{
    position:relative;
    width:100%;
    overflow:hidden;
}
.item{
    width:100%;
    position:relative;
    overflow:hidden;
    z-index:1;
    background:#e3e7ea;
}
.item.visible{
    overflow:visible;
    z-index:2;
}
.item.visible + .item{z-index:3;}
.item-holder{
    height:100%;
    display:table;
    width:100%;
}
.item-box{
    display:table-cell;
    overflow:hidden;
    vertical-align:middle;
}
/* visual styles start */
.visual{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
    color:#fff;
    -webkit-transition:opacity .8s ease;
    -moz-transition:opacity .8s ease;
    -ms-transition:opacity .8s ease;
    -o-transition:opacity .8s ease;
    transition:opacity .8s ease;
    opacity:0;
}
.loaded .visual{opacity:1;}
.visual .holder{
    width:100%;
    position:relative;
    overflow:hidden;
    height:100%;
}
.visual .slider{
    position:relative;
    width:99999px;
    height:100%;
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}
.visual .slider > li{
    float:left;
    position:relative;
    height:100%;
    opacity:0;
    -webkit-transition:opacity .8s ease;
    -moz-transition:opacity .8s ease;
    -ms-transition:opacity .8s ease;
    -o-transition:opacity .8s ease;
    transition:opacity .8s ease;
}
.loaded .visual .slider > li{opacity:1;}
.visual .img-holder{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}
.visual .slider img{
    position:relative;
    display:block;
}
.visual .box{
    position:absolute;
    top:121px;
    width:350px;
    left:50%;
    margin:-5% 0 0 -482px;
    z-index:1;
    -webkit-transition:all .8s ease 1.2s;
    -moz-transition:all .8s ease 1.2s;
    -ms-transition:all .8s ease 1.2s;
    -o-transition:all .8s ease 1.2s;
    transition:all .8s ease 1.2s;
    -webkit-transition-property:opacity, margin-top;
    -moz-transition-property:opacity, margin-top;
    -ms-transition-property:opacity, margin-top;
    -o-transition-property:opacity, margin-top;
    transition-property:opacity, margin-top;
    opacity:0;
}
.loaded .visual .box{
    opacity:1;
    margin-top:0;
}
.visual h2{
    font-size:50px;
    line-height:52px;
    margin:0 0 33px -3px;
}
.visual h2 span{display:block;}
.visual .more{
    display:inline-block;
    vertical-align:top;
    background:#fff;
    -webkit-transition-property:color, background-color;
    -moz-transition-property:color, background-color;
    -ms-transition-property:color, background-color;
    -o-transition-property:color, background-color;
    transition-property:color, background-color;
    font:20px/24px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding:15px 39px 15px 30px;
    min-height:24px;
}
.visual .more:hover{
    color:#fff;
    background:#000;
}
.visual .pager{
    position:absolute;
    bottom:50px;
    left:50%;
    margin:0 0 0 -482px;
    z-index:1;
    width:50%;
    opacity:0;
    -webkit-transition:opacity .8s ease .6s;
    -moz-transition:opacity .8s ease .6s;
    -ms-transition:opacity .8s ease .6s;
    -o-transition:opacity .8s ease .6s;
    transition:opacity .8s ease .6s;
}
.loaded .visual .pager{opacity:1;}
.visual .pager ul{
    margin:0;
    padding:0;
    list-style:none;
    overflow:hidden;
}
.visual .pager li{
    margin:0 18px 0 0;
    float:left;
    width:12px;
    height:12px;
}
.visual .pager a{
    text-indent:-9999px;
    display:block;
    overflow:hidden;
    width:12px;
    height:12px;
    -webkit-border-radius:6px;
    border-radius:6px;
    background:#fff;
    -webkit-transition-property:color, background-color;
    -moz-transition-property:color, background-color;
    -ms-transition-property:color, background-color;
    -o-transition-property:color, background-color;
    transition-property:color, background-color;
}
.visual .pager .active a:hover,
.visual .pager a:hover{background:#000;}
.visual .pager .active a{background:#505050;}
.visual .btn-holder{
    right:50%;
    bottom:30px;
    margin:0 -482px 0 0;
    position:absolute;
    width:108px;
    text-indent:-9999px;
    opacity:0;
    -webkit-transition:opacity .8s ease .6s;
    -moz-transition:opacity .8s ease .6s;
    -ms-transition:opacity .8s ease .6s;
    -o-transition:opacity .8s ease .6s;
    transition:opacity .8s ease .6s;
}
.loaded .visual .btn-holder{opacity:1;}
.visual .btn-prev,
.visual .btn-next{
    float:left;
    width:54px;
    height:54px;
    overflow:hidden;
    background:#fff;
    -webkit-border-radius:27px 0 0 27px;
    border-radius:27px 0 0 27px;
    position:relative;
    -webkit-transition-property:color, background-color;
    -moz-transition-property:color, background-color;
    -ms-transition-property:color, background-color;
    -o-transition-property:color, background-color;
    transition-property:color, background-color;
}
.visual .btn-next{
    -webkit-border-radius:0 27px 27px 0;
    border-radius:0 27px 27px 0;
}
.visual .btn-prev:hover,
.visual .btn-next:hover{background-color:#000;}
.visual .btn-prev:before,
.visual .btn-next:before,
.visual .btn-prev:after,
.visual .btn-next:after{
    content:"";
    position:absolute;
    top:15px;
    left:18px;
    width:15px;
    height:23px;
    background:url(../images/sprite.png) no-repeat;
    opacity:1;
    -webkit-transition:opacity .25s ease;
    -moz-transition:opacity .25s ease;
    -ms-transition:opacity .25s ease;
    -o-transition:opacity .25s ease;
    transition:opacity .25s ease;
}
.visual .btn-next:after{
    background-position:-17px 0;
    left:21px;
}
.visual .btn-prev:before,
.visual .btn-next:before{
    opacity:0;
    z-index:1;
}
.visual .btn-prev:before{background-position:-34px 0;}
.visual .btn-next:before{
    background-position:-51px 0;
    left:21px;
}
.visual .btn-prev:hover:before,
.visual .btn-next:hover:before{opacity:1;}
.visual .btn-prev:hover:after,
.visual .btn-next:hover:after{opacity:0;}
/* visual styles end */
/* services styles start */
.services{
    max-width:964px;
    position:relative;
    margin:0 auto;
    padding:65px 0 70px;
}
.services h2{
    font-size:30px;
    line-height:30px;
    margin:0 0 12px;
}
.services .list{
    padding:0;
    margin:0 -6.8% 0 0;
    list-style:none;
    position:relative;
}
.services .list > li{
    display:inline-block;
    vertical-align:top;
    width:27.33%;
    margin:52px 6% 52px -0.2em;
    position:relative;
    min-height:240px;
}
.services .list > li:after{
    content:"";
    position:absolute;
    top:-41px;
    left:-25px;
    right:-25px;
    bottom:1px;
    background:#fff;
    opacity:0;
    -webkit-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    -ms-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    transition:opacity .3s ease;
}
.services .list > .service-logo:after{display:none;}
.services .img-holder{
    height:136px;
    display:table;
    width:100%;
    padding:0 0 0 4px;
    text-align:center;
    overflow:hidden;
    -webkit-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    -ms-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    transition:opacity .3s ease;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.item.active .services li.service-logo.hovered .img-holder,
.no-gallery .item .services li.service-logo.hovered .img-holder{
    opacity:1;
    filter:alpha(opacity=100);
}
.services .service-logo .img-holder{padding-left:0;}
.services .service-logo .img-box img{
    display:block;
    margin:33px auto 0;
    max-width:none;
}
.services .img-box{
    display:table-cell;
    vertical-align:middle;
    overflow:hidden;
}
.services .slide{
    position:relative;
    z-index:1;
    margin:-27px -25px 0 -25px;
    padding:29px 45px 0 25px;
    -webkit-transition:margin-top .3s ease, background-color .3s ease, padding-bottom .3s ease, top .5s ease, opacity .5s ease;
    -moz-transition:margin-top .3s ease, background-color .3s ease, padding-bottom .3s ease, top .5s ease, opacity .5s ease;
    -ms-transition:margin-top .3s ease, background-color .3s ease, padding-bottom .3s ease, top .5s ease, opacity .5s ease;
    -o-transition:margin-top .3s ease, background-color .3s ease, padding-bottom .3s ease, top .5s ease, opacity .5s ease;
    transition:margin-top .3s ease, background-color .3s ease, padding-bottom .3s ease, top .5s ease, opacity .5s ease;
    overflow:hidden;
    top:100px;
    opacity:0;
}
.show .services p,
.show .services .slide{
    top:0;
    opacity:1;
}
.item.active .services .list > li.hovered:after,
.no-gallery .item .services .list > li.hovered:after{opacity:1;}
.item.active .services li.hovered .slide,
.no-gallery .item .services li.hovered .slide{
    margin-top:-177px;
    padding-bottom:29px;
}
.services p{
    margin:0;
    max-height:60px;
    -webkit-transition:all .3s ease, top .5s ease, opacity .5s ease;
    -moz-transition:all .3s ease, top .5s ease, opacity .5s ease;
    -ms-transition:all .3s ease, top .5s ease, opacity .5s ease;
    -o-transition:all .3s ease, top .5s ease, opacity .5s ease;
    transition:all .3s ease, top .5s ease, opacity .5s ease;
    overflow:hidden;
    position:relative;
    top:100px;
    opacity:0;
}
.item.active .services li.hovered p,
.no-gallery .item .services li.hovered p{
    max-height:0;
    opacity:0;
    filter:alpha(opacity=0);
}
.services .list ul{
    padding:0;
    margin:0;
    overflow:hidden;
    height:0;
    min-height:0;
    opacity:0;
    filter:alpha(opacity=0);
    list-style:none;
    -webkit-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -ms-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
    line-height:26px;
}
.item.active .services li.hovered ul,
.no-gallery .item .services li.hovered ul{
    min-height:180px;
    opacity:1;
    filter:alpha(opacity=100);
}
/* services styles end */
/* projects styles start */
.projects{
    height:100%;
    margin:-80px 0 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
}
.projects header{
    position:absolute;
    top:0;
    width:100%;
    left:0;
    z-index:2;
    cursor:pointer;
}
.no-gallery .projects header{display:none !important;}
.projects .bg-l,
.projects .bg-r{
    position:absolute;
    width:50%;
    left:50%;
    top:0;
    height:80px;
    background:#fff;
    margin:0 0 0 202px;
    opacity:0.8;
    filter:alpha(opacity=80);
    -webkit-transition:opacity .25s ease;
    -moz-transition:opacity .25s ease;
    -ms-transition:opacity .25s ease;
    -o-transition:opacity .25s ease;
    transition:opacity .25s ease;
}
.projects header:hover .bg-l,
.projects header:hover .bg-r{
    opacity:1;
    filter:alpha(opacity=100);
}
.projects .bg-l{
    left:0;
    margin:0 0 0 -202px;
}
.projects h2{
    width:404px;
    height:80px;
    text-indent:-9999px;
    overflow:hidden;
    background:url(../images/sprite.png) no-repeat 0 -450px;
    margin:0 auto;
    opacity:0.8;
    filter:alpha(opacity=80);
    -webkit-transition:opacity .25s ease;
    -moz-transition:opacity .25s ease;
    -ms-transition:opacity .25s ease;
    -o-transition:opacity .25s ease;
    transition:opacity .25s ease;
}
.projects header:hover h2{
    opacity:1;
    filter:alpha(opacity=100);
}
.projects > ul{
    position:relative;
    list-style:none;
    margin:0;
    overflow:hidden;
    width:100%;
    padding:0;
    z-index:1;
}
.projects > ul > li{
    width:16.66%;
    float:left;
    position:relative;
}
.projects .big{
    width:33.29%;
    background-color:#e3e7ea;
}
.projects a{color:#888;}
.projects a:hover{color:#fff;}
.projects figure{
    overflow:hidden;
    position:relative;
}
.projects img{
    display:block;
    width:100%;
    height:auto;
}
.projects figcaption{
    position:absolute;
    top:0;
    left:0;
    background:#222;
    width:100%;
    height:100%;
    text-align:center;
    opacity:0;
    -webkit-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    -ms-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    transition:opacity .3s ease;
    z-index:-1;
    filter:alpha(opacity=0);
}
.projects li.hovered figcaption{
    opacity:1;
    filter:alpha(opacity=100);
    z-index:1;
}
.projects figcaption:after{
    position:absolute;
    top:50%;
    height:1px;
    left:11.718%;
    right:11.718%;
    background:#434343;
    content:"";
}
.projects .title{
    position:absolute;
    bottom:50%;
    left:15%;
    right:15%;
    padding:0 0 20px;
    font:20px/25px 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
    color:#fff;
}
.projects figure ul{
    padding:12px 0 0;
    margin:0;
    list-style:none;
    position:absolute;
    top:50%;
    left:15%;
    right:15%;
    font:16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.projects figure li{padding:5px 0;}
.projects .box{
    position:absolute;
    top:0;
    left:0;
    right:-1px;
    height:100%;
    z-index:1;
    background:#222;
    color:#888;
    text-align:center;
}
.projects .holder{
    height:100%;
    display:table;
    width:100%;
}
.projects .frame{
    display:table-cell;
    vertical-align:middle;
}
.projects .number{
    color:#fff;
    display:block;
    font:30px/30px 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
    letter-spacing:1px;
    margin:0 0 20px;
}
.projects .holder .text{
    display:block;
    margin:0 auto 30px;
    max-width:196px;
}
.projects .more{
    display:inline-block;
    min-width:176px;
    vertical-align:top;
    background:#434343;
    color:#fff;
    font-size:20px;
    padding:12px 10px;
    min-height:30px;
    text-align:center;
    -webkit-transition:background-color .25s ease;
    -moz-transition:background-color .25s ease;
    -ms-transition:background-color .25s ease;
    -o-transition:background-color .25s ease;
    transition:background-color .25s ease;
}
.projects .more:hover{background:#000;}
/* projects styles end */
/* info styles start */
.info{
    width:100%;
    padding:38px 0 0;
}
.info h2{
    line-height:34px;
    font-size:30px;
    margin:0 0 13px;
}
.info .list{
    padding:0 10px;
    margin:0 -6% 43px 0.2em;
    list-style:none;
    position:relative;
}
.info .list li{
    display:inline-block;
    text-align:center;
    width:28%;
    margin:0 5.3% 0 -0.2em;
    position:relative;
    vertical-align:top;
}
.info .list img{
    -webkit-border-radius:50%;
    border-radius:50%;
    vertical-align:top;
    height:auto;
    display:inline-block;
    margin:0 0 17px;
    width:58.4%;
}
.info .list a{
    cursor:pointer;
    display:block;
    -webkit-transition-property:background-color, color;
    -moz-transition-property:background-color, color;
    -ms-transition-property:background-color, color;
    -o-transition-property:background-color, color;
    transition-property:background-color, color;
    -webkit-transition-duration:.5s;
    -moz-transition-duration:.5s;
    -ms-transition-duration:.5s;
    -o-transition-duration:.5s;
    transition-duration:.5s;
    padding:30px 10px 18px;
    position:relative;
    margin:0 -10px;
}
.info .list a:hover{background:#fff;}
.info .list figcaption,
.info .list .text{
    display:block;
    min-height:60px;
}
.info .list .subscribe{
    width:58.4%;
    display:inline-block;
    vertical-align:top;
    position:relative;
    margin:0 0 17px;
}
.info .list .subscribe img{
    width:100%;
    margin:0;
}
.info .list .subscribe .hover{
    position:absolute;
    top:0;
    left:0;
    display:block;
    margin:0;
    z-index:1;
    opacity:0;
    -webkit-transition:opacity .25s ease;
    -moz-transition:opacity .25s ease;
    -ms-transition:opacity .25s ease;
    -o-transition:opacity .25s ease;
    transition:opacity .25s ease;
}
.info .list a:hover .subscribe .hover{opacity:1;}
.info .list .subscribe strong{
    position:absolute;
    top:50%;
    left:85%;
    background:#ee5035;
    color:#fff;
    font-size:16px;
    line-height:20px;
    padding:7px;
    min-width:58px;
    min-height:20px;
    -webkit-border-radius:17px;
    border-radius:17px;
    margin:-17px 0 0;
    z-index:2;
}
.contacts{
    position:relative;
    margin:0 -6.8% 0 0;
    overflow:hidden;
    line-height:26px;
    list-style:none;
    padding:21px 0 155px;
}
.inner-page .contacts{padding-bottom:55px;}
.contacts li{
    float:left;
    width:43.7%;
    margin:0 6.3% 0 0;
}
.contacts a{
    display:block;
    cursor:pointer;
    color:#888;
    background:#434343;
    position:relative;
    padding:15px 10px 14px 85px;
    min-height:45px;
    -webkit-transition:background-color .25s ease;
    -moz-transition:background-color .25s ease;
    -ms-transition:background-color .25s ease;
    -o-transition:background-color .25s ease;
    transition:background-color .25s ease;
}
.contacts a:hover{
    color:#888;
    background:#000;
}
.contacts a:after{
    content:"";
    position:absolute;
    top:50%;
    left:20px;
    width:48px;
    height:48px;
    margin:-24px 0 0;
    background:url(../images/sprite.png) no-repeat -100px -532px;
}
.contacts .item-2:after{
    background-position:-160px -532px;
    height:52px;
    width:49px;
    margin-top:-26px;
}
.contacts .title{
    color:#fff;
    display:block;
    font-size:20px;
    font-family:'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-bottom:3px;
}
/* info styles end */
/* main styles end */
/* footer styles start */
footer{
    padding:0 0 50px;
    width:100%;
    color:#9ea3a7;
}
footer a{color:#9ea3a7;}
footer a:hover{color:#000;}
.social{
    overflow:hidden;
    list-style:none;
    padding:0 0 28px;
    margin:0;
}
.social li{
    float:left;
    padding:0 29px 0 0;
}
.social a{
    float:left;
    text-indent:-9999px;
    overflow:hidden;
    width:13px;
    height:26px;
    position:relative;
}
.social a:before,
.social a:after{
    content:"";
    width:100%;
    height:100%;
    background:url(../images/sprite.png) no-repeat 0 -602px;
    position:absolute;
    top:0;
    left:0;
    opacity:1;
    -webkit-transition:opacity .3s ease;
    -moz-transition:opacity .3s ease;
    -ms-transition:opacity .3s ease;
    -o-transition:opacity .3s ease;
    transition:opacity .3s ease;
}
.social a:before{
    opacity:0;
    background-position:0 -642px;
}
.social a:hover:before{opacity:1;}
.social a:hover:after{opacity:0;}
.social .twitter{width:28px;}
.social .twitter:after{background-position:-42px -602px;}
.social .twitter:before{background-position:-42px -642px;}
.social .linkedin{width:24px;}
.social .linkedin:after{background-position:-96px -602px;}
.social .linkedin:before{background-position:-96px -642px;}
.social .instagram{width:24px;}
.social .instagram:after{background-position:-150px -602px;}
.social .instagram:before{background-position:-150px -642px;}
.social .behance{width:31px;}
.social .behance:after{background-position:-205px -602px;}
.social .behance:before{background-position:-205px -642px;}
.social .dribbble{width:25px;}
.social .dribbble:after{background-position:-263px -602px;}
.social .dribbble:before{background-position:-263px -642px;}
.footer-nav{
    width:100%;
    font:16px/19px 'Helvetica Neue Bold', Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    padding:0 0 5px;
}
.add-info,
.footer-nav ul{
    padding:0;
    margin:0;
    list-style:none;
    overflow:hidden;
}
.footer-nav li{
    float:left;
    padding:0 32px 0 0;
}
.add-info li:first-child{
    padding-left:0;
    margin-left:0;
    background:none;
}
.add-info li{
    float:left;
    padding:0 0 0 10px;
    margin:0 0 0 6px;
    background:url(../images/backgrounds/bg-add-info.png) no-repeat 0 50%;
}
.add-info address{
    font-style:normal;
    display:inline;
}
.copy{
    display:inline;
    margin:0;
}
.mCSB_scrollTools{
    top:2px;
    bottom:2px;
    width:6px;
    right:-6px;
}
.mCSB_draggerContainer{
    position:relative;
    height:100%;
    width:100%;
}
.mCSB_dragger{
    width:100%;
    -webkit-border-radius:3px;
    border-radius:3px;
    left:0;
    background-color:rgba(0,0,0,0.16);
    -webkit-transition:background-color .25s ease;
    -moz-transition:background-color .25s ease;
    -ms-transition:background-color .25s ease;
    -o-transition:background-color .25s ease;
    transition:background-color .25s ease;
}
.mCSB_dragger:hover{background-color:rgba(0,0,0,0.4);}
.mCSB_dragger .mCSB_dragger_bar{
    height:100%;
    width:100%;
    cursor:pointer;
}
/* footer styles end */