/* media styles start */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (-moz-min-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 2/1),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx){
	.social a:before,
	.social a:after,
	.contacts a:after,
	.projects header,
	#header .opener:after,
	.services-info .btn-prev:before,
	.services-info .btn-next:before,
	.services-info .btn-prev:after,
	.services-info .btn-next:after,
	.logo:before,
	#header .opener:after,
	#header.opened .opener:after,
	#header.active .opener:after,
	#header .opener:before,
	.logo:after,
	.map .markers .img-holder,
	.places-list .img-holder,
	.feedback .status,
	.feedback header:after,
	.selectButton .ico,
	.about-gallery .inner-box:before,
	.about-gallery .inner-box:after,
	.about-gallery .btn-prev:before,
	.about-gallery .btn-next:before,
	.about-gallery .btn-next:after,
	.about-gallery .btn-prev:after,
	.visual .btn-prev:before,
	.visual .btn-next:before,
	.visual .btn-next:after,
	.visual .btn-prev:after{
		background-image:url(../images/sprite@2x.png);
		background-size:1000px 1000px;
	}
	.logo:after{background-position:-64px 0;}
	.logo:before{background-position:-64px -58px;}
	#header.active .logo:after,
	#header.opened .logo:after{background-position:-64px -29px;}
	.services-info .btn-next:after,
	.visual .btn-next:after{background-position:-16px 0;}
	.services-info .btn-prev:before,
	.visual .btn-prev:before{background-position:-32px 0;}
	.services-info .btn-next:before,
	.visual .btn-next:before{background-position:-48px 0;}
	#header .opener:before{background-position:-264px 0;}
	#header.active .opener:before{background-position:-264px -22px;}
	#header .opener:after,
	#header.active .opener:after{background-position:-264px -43px;}
}
@media only screen and (max-width:1380px){
	.projects > ul > li{width:25%;}
	.projects .big{width:50%;}
}
@media only screen and (max-width:1050px){
	#wrapper{min-height:100%;}
	#wrapper,
	#main{height:auto;}
	.feedback{max-width:618px;}
	.feedback .box{width:294px;}
	.services,
	.container{max-width:824px;}
	.services{
		padding-bottom:90px;
		padding-top:45px;
	}
	.visual .pager,
	.visual .box{margin-left:-412px;}
	.visual .btn-holder{margin-right:-412px;}
	.services .list > li{
		margin-bottom:26px;
		margin-top:25px;
	}
	.services .service-logo .img-box img{
		margin-top:55px;
		width:100%;
	}
	.services .img-box img{
		width:37%;
		display:block;
		margin:0 auto;
		max-width:100px;
		height:auto;
	}
	.contacts{padding-bottom:75px;}
	.projects figure ul{
		font-size:16px;
		line-height:20px;
		padding-top:10px;
	}
	.projects .number{
		font-size:30px;
		margin-bottom:20px;
	}
	.projects .holder .text{margin-bottom:30px;}
	.projects .more{
		min-width:176px;
		padding:12px 10px;
	}
}
@media only screen and (max-width:860px){
	.services,
	.container{
		padding:0 18px;
		width:auto;
	}
	.services{
		padding-bottom:90px;
		padding-top:45px;
	}
	.services .img-box img{width:40%;}
	.visual .pager,
	.visual .box{
		margin-left:0;
		left:18px;
	}
	.visual .btn-holder{
		margin-right:0;
		right:18px;
	}
	.services .list{margin-right:-3.8%}
	.services .list > li{
		width:30.33%;
		margin-right:3%;
		min-height:0;
	}
	.services .slide{
		padding-right:35px;
		margin-right:-15px;
		margin-left:-20px;
		padding-left:20px;
	}
	.projects > ul > li{width:50%;}
	.projects .big{background-color:transparent;}
	.projects > ul > .text-box{
		width:100%;
		height:108px;
	}
	.projects .box{text-align:left;}
	.projects .holder .number,
	.projects .holder .text{
		max-width:50%;
		margin:0 0 0 9%;
	}
	.projects .holder .number{
		font-size:30px;
		margin-bottom:4px;
		margin-top:2px;
	}
	.projects > ul > .text-box img{display:none;}
	.projects .more{
		position:absolute;
		right:9%;
		top:50%;
		margin:-27px 0 0;
		min-width:176px;
		padding:12px 10px;
	}
}
@media only screen and (max-width:830px){
	.contacts a{padding-right:30px;}
}
@media only screen and (max-width:770px){
	.feedback{max-width:600px;}
	.feedback .box{width:285px;}
	#main{min-height:0;}
	.services,
	.container{
		max-width:600px;
		padding:0;
	}
	.services{
		padding-bottom:90px;
		padding-top:45px;
	}
	.visual .pager,
	.visual .box{
		width:100%;
		left:0;
		text-align:center;
	}
	.visual h2{margin-left:0;}
	.visual .pager{height:12px;}
	.visual .pager ul{
		display:inline-block;
		vertical-align:top;
	}
	.visual .pager li{margin:0 9px;}
	.visual h2 span{display:inline;}
	.visual .btn-holder{display:none;}
	.services .list{margin-right:-10.5%;}
	.services .list > li{
		width:43.4%;
		margin-right:6.5%;
	}
	.info .list{text-align:center;}
	.info .list li{
		width:44.7%;
		margin-right:5.3%;
		max-width:300px;
	}
	.info .list figcaption,
	.info .list .text{min-height:0;}
	.info .list .subscribe strong{left:78%;}
	.info .list .subscribe,
	.info .list img{
		width:39%;
		max-width:109px;
	}
	.contacts{padding-bottom:80px;}
	.contacts a span{display:block;}
	.contacts a{padding:85px 20px 15px;}
	.contacts .item-2:after,
	.contacts a:after{
		top:22px;
		left:50%;
		margin:0 0 0 -24px;
	}
	.add-info{line-height:30px;}
	.add-info li{
		background:none;
		padding:0;
		margin:0;
		float:none;
	}
}
@media only screen and (max-width:745px){
	.projects{margin:0;}
	.projects header{
		display:none;
		top:-9999px;
	}
	.item.white{background:#fff;}
	.services{
		padding:0;
		max-width:none;
		background:#fff;
	}
	.services .list{margin:0;}
	.services .img-holder,
	.services p,
	.services .list ul,
	.services .slide,
	.services .list > li{
		-webkit-transition:none;
		-moz-transition:none;
		-ms-transition:none;
		-o-transition:none;
		transition:none;
	}
	.services .list > li:after{display:none;}
	.item.active .services li.hovered .img-holder,
	.no-gallery .item .services li.hovered .img-holder,
	.services li.hovered .img-holder,
	.services .list > li{
		opacity:1;
		filter:alpha(opacity=100);
	}
	.services .list > li:first-child{border:none;}
	.services .list > li{
		margin:0;
		width:auto;
		padding:0 22px;
		display:block;
		border-top:1px solid #e3e7ea;
	}
	.services .list .service-logo{display:none;}
	.services .img-box img{width:46%;}
	.services .img-holder{
		height:120px;
		padding:0;
		width:22%;
	}
	.item.active .services li.hovered .slide,
	.no-gallery .item .services li.hovered .slide,
	.services .slide{
		background:#fff;
		margin:-120px 0 0 22%;
		padding:45px 0;
		top:0;
		opacity:1;
	}
	.services h2{margin:0;}
	.services .list ul{display:none;}
	.services p{display:none;}
	.projects figure ul{padding-top:12px;}
}
@media only screen and (max-width:630px){
	.logo{
		width:140px;
		height:19px;
		margin:1px 0 0;
	}
	.logo:after{background-position:0 -89px;}
	.logo:before{background-position:0 -131px;}
	.visual .box{top:95px;}
	.visual .pager{bottom:28px;}
	#header.opened .logo:after,
	#header.active .logo:after{background-position:0 -110px;}
	.container{padding:0 30px;}
	.feedback{padding-top:0;}
	.feedback fieldset{margin-right:-8%;}
	.feedback .box{
		width:42%;
		margin-right:8%;
	}
	.feedback .status{top:52px;}
	.feedback h2{
		font-size:20px;
		line-height:30px;
		margin-bottom:12px;
	}
	.feedback header{
		line-height:30px;
		padding-bottom:28px;
		padding-top:46px;
	}
	.feedback header:after{
		width:34px;
		height:34px;
		margin-left:-17px;
		background-position:-404px -532px;
	}
	.feedback.subscribe header:after{
		background-position:-454px -532px;
		width:46px;
		height:33px;
		margin-left:-23px;
	}
	.feedback input[type="text"],
	.feedback input[type="email"],
	.feedback input[type="password"]{margin-bottom:8px;}
	.feedback textarea,
	.selectArea,
	.feedback input[type="text"],
	.feedback input[type="email"],
	.feedback input[type="password"]{
		padding-top:9px;
		padding-bottom:9px;
	}
	.feedback input[type="submit"]{
		float:none;
		display:block;
		width:100%;
		height:40px;
		font-size:16px;
	}
	#nav{
		float:none;
		max-width:none;
		margin:0 0 30px;
	}
	.top-bar .drop{
		padding-top:24px;
		padding-bottom: 0;
	}
	.top-bar .col{
		display:block;
		float:none;
		width:auto;
		padding-bottom: 30px;
	}
	.visual h2{
		font-size:30px;
		line-height:30px;
		margin-bottom:14px;
	}
	.visual h2 span{display:block;}
	.visual .more{
		padding:10px 20px;
		font-size:16px;
		line-height:20px;
		min-height:20px;
	}
	.services h2{font-size:20px;}
	.services .list > li{padding:0 8px;}
	.services .img-box img{
		width:61%;
		max-width:70px;
	}
	.services .img-holder{
		height:90px;
		width:29.5%;
	}
	.item.active .services li.hovered .slide,
	.no-gallery .item .services li.hovered .slide,
	.services .slide{
		margin:-90px 0 0 29.5%;
		padding:30px 0;
	}
	.projects .holder .number,
	.projects .holder .text{margin-left:5%;}
	.projects .more{right:5%;}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:630px),
	only screen and (-moz-min-device-pixel-ratio: 2) and (max-width:630px),
	only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width:630px),
	only screen and (min-device-pixel-ratio: 2) and (max-width:630px),
	only screen and (min-resolution: 192dpi) and (max-width:630px),
	only screen and (min-resolution: 2dppx) and (max-width:630px){
	.logo:after{background-position:0 -89px;}
	.logo:before{background-position:0 -131px;}
	#header.active .logo:after{background-position:0 -110px;}
}
@media only screen and (max-width:570px){
	.inner-page #main{padding-top:50px;}
	.inner-page #header{padding:15px 0;}
	.contacts{
		margin:0;
		padding-bottom:30px;
		padding-top:10px;
	}
	.contacts li{
		width:100%;
		margin:0 auto 20px;
		display:block;
		float:none;
	}
	.contacts .title{font-size:16px;}
	.social{margin-right:-30px;}
	.social li{padding-right:23px;}
	.footer-nav{
		font-size:16px;
		line-height:30px;
		padding-bottom:0;
	}
	.footer-nav li{
		float:none;
		padding:0;
	}
	.add-info address{padding:0 30px 0 0;}
	.projects .title{
		font-size:16px;
		line-height:18px;
		padding-bottom:7px;
	}
	.projects figure ul{
		font-size:12px;
		line-height:16px;
		padding:5px 0 0;
		left:10%;
		right:10%;
	}
	.projects figure li{padding:2px 0;}
	.info h2{
		font-size:20px;
		line-height:24px;
	}
	.projects > ul > .text-box{height:172px;}
	.projects .box{text-align:center;}
	.projects .holder .number{
		font-size:20px;
		max-width:none;
		margin:0;
	}
	.projects .holder .text{
		max-width:none;
		margin:0 0 15px;
		font-size:14px;
	}
	.projects .more{
		position:static;
		right:auto;
		top:auto;
		margin:0;
		padding:5px 10px;
		font-size:16px;
		min-width:146px;
	}
}
@media only screen and (max-height:550px){
	.top-bar{height:100%;}
}
@media only screen and (max-width:500px){
	.feedback{max-width:258px;}
	.feedback fieldset{margin-right:0;}
	.feedback .box{
		width:258px;
		margin-right:0;
	}
	.info .list{
		margin-right:0;
		margin-bottom:25px;
		padding:0;
		margin-left:0;
	}
	.info .list li{
		width:100%;
		margin:0 auto;
		max-width:260px;
		display:block;
	}
	.info .list a{padding:11px 20px;}
	.info .list .subscribe,
	.info .list img{
		margin-bottom:8px;
		width:35%;
	}
}
@media only screen and (max-height:400px){
	.visual .pager{display:none;}
}
/* media styles end */