<!DOCTYPE html>
<html lang="en">
<head>
  <title>Brief</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device=width, initial-scale=1.0, maximum-scale=1.0">
  <title>Index</title>
  <!--all styles-->
  <link rel="stylesheet" type="text/css" href="css/all.css">
  <!--media styles-->
  <link rel="stylesheet" type="text/css" href="css/media.css">
  <!--jQuery library-->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <!--include plugins-->
  <script src="js/plugins/jquery.mousewheel.min.js"></script>
  <script src="js/plugins/jquery.easing.1.3.js"></script>
  <script src="js/plugins/jquery.mCustomScrollbar.min.js"></script>
  <script src="js/plugins/hammer.1.0.5.js"></script>
  <script src="js/plugins/masonry.pkgd.min.js"></script>
  <script src="js/jquery.img-stretch.js"></script>
  <script src="js/jquery.carousel.js"></script>
  <script src="js/jquery.main-gallery.js"></script>
  <script src="js/jquery.add-class.js"></script>
  <script src="js/jquery.custom-select.js"></script>
  <script src="js/jquery.init-plugins.js"></script>
  <script src="js/jquery.form-validator.js"></script>
  <!--common javascript-->
  <script src="js/common.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <script src="js/plugins/respond.min.js"></script>
  <![endif]-->
</head>
<body class="loaded no-gallery inner-page">
    <div id="wrapper">
      <!--header starts-->
      <header id="header" data-func="cols-show">
        <div class="container">
          <h1 class="logo"><a href="#">Rocketmind</a></h1>
          <a class="opener" href="#">Opener</a>
        </div>
      </header>
      <section class="top-bar">
        <div class="container cols">
          <nav id="nav">
            <strong class="title">Navigate</strong>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Works</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </nav>
          <div class="col">
            <strong class="title">Latest work</strong>
            <figure>
              <img src="images/content/img-projects-8.jpg" alt="" width="256" height="256">
              <figcaption>
                <strong class="name">Aeroexpress corporation</strong>
                <ul>
                  <li><a href="#">Digital marketing</a></li>
                  <li><a href="#">Branding</a></li>
                  <li><a href="#">Mobile development</a></li>
                </ul>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="container form">
          <form class="feedback" novalidate action="#">
            <header>
              <h2>Tell about your project</h2>
              Are you interested in working with Rocketmind? Please tell your idea.
            </header>
            <fieldset>
              <div class="box">
                <label for="name">Your name</label>
                <input type="text" id="name">
                <span class="status">Error</span>
                <em class="note">You must fill all the details!</em>
              </div>
              <div class="box">
                <label for="email">Your e-mail</label>
                <input type="email" id="email">
                <span class="status">Error</span>
                <em class="note">You must fill all the details!</em>
              </div>
              <div class="box">
                <label for="select">Select</label>
                <div class="select">
                  <select data-placeholder="Select option" id="select">
                    <option selected>Select option</option>
                    <option>Request goal 1</option>
                    <option>Request goal 2</option>
                  </select>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <div class="box alt">
                <label for="message">Your message</label>
                <textarea id="message" cols="80" rows="5"></textarea>
                <input type="submit" value="Send">
              </div>
            </fieldset>
          </form>
        </div>
        <div class="container subscribe-form">
          <form class="feedback subscribe" novalidate action="#">
            <header>
              <h2>Newsletter</h2>
              34567 already subscribed, join our newsletter
            </header>
            <fieldset>
              <div class="box">
                <label for="name-2">Your name</label>
                <input type="text" id="name-2">
                <span class="status">Error</span>
                <em class="note">You must fill all the details!</em>
              </div>
              <div class="box">
                <label for="email-2">Your e-mail</label>
                <input type="email" id="email-2">
                <span class="status">Error</span>
                <em class="note">You must fill all the details!</em>
              </div>
              <div class="box">
                <input type="submit" value="Subscribe">
              </div>
            </fieldset>
          </form>
        </div>
      </section>
      <!--header ends-->
      <!--main starts-->
      <div id="main">
        <section class="services-info">
          <div class="item">
            <div class="item-holder">
              <div class="item-box">
                <section class="item-info">
                  <div class="img-holder">
                    <%= image_tag "content/img-services-gallery-31.png", {width: 345, height: 218} %>
                  </div>
                  <div class="wrap">
                    <h2>Request</h2>
                    <p><%= yield %></p>
                  </div>
                </section>


              </div>
            </div>
          </div>
        </section>
    </div>
    <!--main ends-->
    <!--footer starts-->
    <footer>
      <div class="container">
        <ul class="add-info">
          <li><p class="copy">&copy; 2005-2014 Rocketmind</p></li>
          <li><address>37 Leningradsky prospect, Moscow, Russia</address></li>
          <li>+7 495 123-45-67</li>
          <li><a href="mailto:hello@rocketmind.ru">hello@rocketmind.ru</a></li>
        </ul>
      </div>
    </footer>
    <!--footer ends-->
    </div>
    <!--wrapper ends-->
</body>
</html>
